.App {
  text-align: center;
}
.no-items {
  img {
    max-width: 200px;
    border-radius: 50%;
    overflow: hidden;
  }
}
input.form-control.error {
  border: 2px solid tomato;
}
input.form-control.valid {
  border: 2px solid #28a745;
}
